/** Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body{
    width: 100%;
    min-height: 100vh; 
    box-sizing: border-box;
    background-color: #efeddc;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5px 70px;
    background-color: #e9e5cd;
    color: #4d4d4d;
    font-size: 18px;
    position:sticky;
    top:0;
    box-shadow: 0 6px 3px -6px #737373;
}

.logo{
    font-size: 35px;
    color:  #737373;
    margin-right: 30px;
}

span{
    font-weight: bold;
    color: #4d4d4d;

}

a[href*=stanimirkosev]{    
    color: #4d4d4d;
    text-decoration: none;
    margin-right: 20px;
}

input{
    border:1px solid #737373;
    border-radius: 3px; 
    padding: 4px;
    width: 400px;
}

img{
    max-width: 50px;
    max-height: 50px;
}

img[src*=bell]{
    margin-left:20px ;
}

img[src*=avatar]{
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
}

/***** Main Content *****/

.library{
    margin:20px 150px;
    display: grid;
    grid-template-rows: repeat(2, 1fr );
    grid-template-columns: repeat(auto-fit,390px);
    gap: 30px;
}

.card{
    background-image: linear-gradient(to bottom right, #403B4A,#E7E9BB);
    border:1px solid #737373;
    border-radius: 10px; 
    width: 400px;
    height: 270px;
    font-size:20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow: hidden;
    position: relative;
}

.bookInfo{
  margin-bottom: 15px;
}

.statusBook,
.closeBook{
   width: 40%;
   padding: 8px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid #737373;
   color: #737373;
}

.statusBook{
    position: absolute;
    left: 30px;
    bottom: 13px;
}

.closeBook{
    position: absolute;
    right: 30px;
    bottom: 13px;
}

.addBook{
    background-color: white;
    color: #737373;
    border:1px solid #737373;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    font-size: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: 6px 5px 4px -3px #737373;
}

button[type*=button]:hover,
.addBook:hover{
    background-color: rgba(0,0,0,0.1)
}

.modal{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0); /** centering + removing the element with scale*/
    transition: 200ms ease-in-out; /** slow start and end */
    border:1px solid white;
    border-radius: 6px; 
    z-index: 10;    /**specifies the stack order of an element ; greatest value is in front*/
    background-color: white;
    width: 400px;
    height: 450px;
    max-height: 90%;
    max-width: 40%;
}

.modal.active{ 
    transform: translate(-50%,-50%) scale(1);
}

.headerModal{
    display: flex;
    justify-content:end;
    align-content: center;
    font-size: 30px;
    position: relative;
}

.titleModal{
    margin:20px 94px 15px;
    color: #737373;
    font-weight: bold;
}

.close-button{
    cursor: pointer; 
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    position: absolute;
    top: 0;
}

form[method*=post]{
    display: flex;
    flex-direction: column;
    margin:0px 40px;
    font-size: 18px;
    position: relative;
}

select,
.clearButton,
.submitButton,
input[type*=text]{
    border:1px solid #737373;
    border-radius: 3px; 
    padding: 10px;
    width: 93%;
    margin:3px 0 15px;
    font-size: 16px;
}

select{
    background-color: white;
    width: 100%;
}

.clearButton,
.submitButton{
    background-color: white;
    color: #737373;
    width: 50%;
}

.clearButton{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}